/*google map css*/
#Map {
  width: 100%;
  height: 70vh;
  margin-bottom: 25px;
  margin-top: 25px
}

/*Navbar*/
.navbar-brand{
  padding: 0px
}

.main_title{
text-align: center;
margin-bottom: 3rem;
margin-top: 4rem;
font-family: 'Tangerine', serif;
text-shadow: 4px 4px 4px #866e1d;
color: cornflowerblue;
font-size: 75px;
}
.navbars{
  font-family: 'Italianno', cursive;
}
.logo{
  font-family: 'Tangerine', serif;
  font-size: 48px;
  color: cornflowerblue;
  text-shadow: 4px 4px 4px #aaa;
}
.navbar-dark .navbar-nav .nav-link{
  color:orange;
}

/*backgraund intro image css */
/*buttons intro image*/
.all_charts {
  display: None;
}
.content-container background{
  position: relative;
  height: 100vh;
  margin-top: 0 !important;
}
.main{
  position: relative;
  height: 100vh;
  margin-top: 0 !important;
}

.btn btn-outline-primary flicker-in-1 hvr-bounce-in mx-auto d-block{
  position: absolute;
  left: 0px;
  top: 0px;
  position: absolute;
  transform: translate(-50%,-50%);
  margin-right: -50%;
  top: 50%;
  left: 50%;
}
.btn-outline-primary{
  color: #ffff07;
  border-color: #00fbff;
  border: double;
  border-radius: 20px;
  height: 60px;
  width: 180px;
  font-weight: 500;
  font-size: x-large;
  font-family: 'Italianno', cursive;
}
/*text intro_page*/
.publicity{
  color:violet;}
.sales_made{
  color:red;
} 
.message{
  color: greenyellow;
} 

/*hover effect for background image */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #6fccc7;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  
}
.overlay
{margin-top: 200px;}
.text_top1{
  font-family: 'Tangerine', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 175px;
  color: cornflowerblue;
}
.img-responsive{
  width: auto;
  background-size: cover;
}
.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 10px);
  height: inherit;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hovereffect:hover img {
  opacity: 0.7;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.hovereffect h2 {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: 'Italianno', cursive;
  text-align: center;
  position: relative;
  font-size: 30px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media only screen and (max-width: 850px) {
  .overlay{margin-top: 0px;}
  .text_top1{font-size: 75px;}
  .hovereffect h2{font-size: 17px;}
  .data_content{
    font-size: 5px;
  }
}

/* sub background bar*/
.sub_nav{
  height: 3px;
  background-color: red;
  background-image: linear-gradient(to bottom right, red, yellow,blue);
}
.jumbotron{
  padding: 0rem 2rem; 
}


/*selectors bar*/
.all_selectors{
  display: flex;
  padding: 30px;
  background-color: #5b29e4;
  border-radius: 15px;
  justify-content: center;
  border: 1px black double;
}
.selectors_titles{
  text-transform: uppercase;
}
.select select {
  font-family: 'Arial';
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 9px 17px;
  outline: 0;
  border: 1px inset #d4d8f9;
  border-radius: 10px;
  /* background: #cecece; */
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select:hover,
.select select:focus {
  color: #3e539b;
  background: #ffffff;
}
.select select:disabled {
  opacity: 1;
  pointer-events: none;
}

/*settings for all charts*/
.dashboard-container{
  margin-left: 40px;
  margin-right: 40px;
}

.number-display{
  border: 2px solid red;
  padding: 10px;
  border-radius: 20px;
}
/*row charts_small cards*/
.col-sm-6{
  margin-bottom: 25px;
}
.charts{
  padding-top: 85px;
  padding-bottom: 70px;
  height: auto;
  border-bottom: 1px #DADADA solid;
}
.chart_title{
margin-bottom:75px;
}
.cards{
  margin-bottom: 30px;
  margin-top: 25px;
}
.buttons{
  margin-bottom: 15px;
  margin-top: 15px;
}
/*toggle botton*/
.toggle {
  margin-right:30px;
}

/*section id borders and headers*/

.par_header_section{
  border: 1px ridge;
  color:orange;
  font-size: larger;
  box-shadow: 1px 1px grey;
  background:#d4d8f9;
  text-align: center;
  border-radius:40px;
  margin-top:25px; 
}


/*footer*/
 
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background:#19332b !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.copyright{
  margin-bottom: 20px;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
body.shepherd-active::after {
  width:max-content;
}
.table th{
  width: 80%;
}
}


  

